
@{
    ViewData["Title"] = "CheckoutComplete";
}



<div class="container mt-3">
    <h2>Thank you for your purchases!</h2>
    <h5>We will ship your order as soon as possible!</h5>

    <p><a asp-controller="BoardGames" asp-action="Index">Click here</a> to return to the homepage and checkout more great board game</p>
</div>

<div style="height:700px;"></div>