@model TeamAssignment.Models.BoardGame

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3">
    <h2>Add a new board game</h2>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <input asp-for="Publisher" class="form-control" />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Players" class="control-label"></label>
                    <input asp-for="Players" class="form-control" />
                    <span asp-validation-for="Players" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input type="date" asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="ImageURL" class="control-label"></label>
                    <input asp-for="ImageURL" class="form-control" />
                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group w-100">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <a class="btn btn-light btn-block" asp-controller="Home" asp-action="User">Go back</a>
            </div>
            <div class="col">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </div>
    </form>
</div>

<div style="height:400px"></div>